{% load static %}
<!DOCTYPE html>
<html lang ="en">
<head>
<meta charset = "UTF-8" />
<link href= "{% static 'Forums/join_a_community_page.css' %}" rel="stylesheet" type=text/css>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
<style>

</style>
</head>
<body>

	<!-- "Join a community" text class Set Up -->
	<div class ="Join_a_community">
		<p1> Join a Community </p1>
	</div>

	<!-- subtext class Set Up -->
	<div class = "subtext">
		<p1> Join one of our offered school community forums today! </p1>
	</div>

	<!-- Community card class Set Up -->
	<div class = "Community_card">
	</div>

	<!-- Community card image class Set Up -->
	<div class = "Community_card_image">
		<img src="{% static 'Forums/community.svg' %}" alt ="community">
	</div>

	<!-- Community card text class Set Up -->
	<div class = "Community_card_text">
		<a href="{{Uoft.id}}"> {{Uoft}} </a>
	</div>

	<!-- Community card class Set Up -->
	<div class = "Community_card_duplicate">
	</div>

	<!-- Community card image class Set Up -->
	<div class = "Community_card_image_duplicate">
		<img src="{% static 'Forums/school_board_icon.png' %}" alt ="School board icon">
	</div>

	<!-- Community card text class Set Up -->
	<div class = "Community_card_text_duplicate">
		<a href="{{HDSB.id}}"> {{HDSB}} </a>
	</div>

<!-- Back button Class Set Up -->
	<div class = "Back_button">
		<a href= "{% url 'home_page' %}">
		<img src="{% static 'Forums/back_button.png' %}" alt ="back_button">
		</a>
	</div>




	

</body>
</html>