{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href= "{% static 'Home_Page/homepage.css'  %}" rel="stylesheet" type=text/css>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
<style>

</style>
</head>
<body>

	<!-- Homepage image Class Set Up -->
	<div class ="Homepage_image">
		<img src="{% static 'Home_Page/feedback.svg'  %}" alt ="feedback">
	</div>

	<!-- Title text Class Set Up -->
	<div class = "Title_text">
		<p1> Eduforms </p1>
	</div>

	<!-- subtext Class Set Up -->
	<div class = "subtext">
		<p1> Voice your opinions for the better! </p1>
	</div>

	<!-- Forum Text Class Set Up -->
	<div class = "forum_text">
		<a href="{% url 'forums' %}">Forum</a>
	</div>

	<!-- Forum Underline Class Set Up -->
	<div class = "forum_underline">
	</div>

</body>
</html>
