/* Setting Background Colour, disabling x-scroll but enabling x-scroll */
body {
	overflow-x: hidden;
	overflow-y: scroll;
	background: #566DBE;
}

/* Styling image class*/
.Homepage_image {
	position: absolute;	
	left: 328px;
	top: 97px;
}

/* Styling title class*/
.Title_text {
	position: absolute;
	width: 1422px;
	height: 145px;
	left: 275px;
	top: 407px;

	font-family: Poppins;
	font-style: normal;
	font-weight: 900;
	font-size: 96px;
	line-height: 144px;
	color: #F5F5F5;
}

/* Styling subtext class*/
.subtext{
	position: absolute;
	width: 1684px;
	height: 143px;
	left: 523px;
	top: 540px;
	font-family: Poppins;
	font-style: normal;
	font-weight: 900;
	font-size: 32px;
	line-height: 72px;
	color: #000000;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Styling forum_text class*/
.forum_text {
	position: absolute;
	width: 702px;
	height: 158px;
	left: 716px;
	top: 794px;
	font-family: Poppins;
	font-style: normal;
	font-weight: 900;
	font-size: 48px;
	line-height: 144px;
	color: #000000;
}

/* Styling forum_underline class*/
.forum_underline{
	position: absolute;
	width: 160px;
	height: 0px;
	left: 711px;
	top: 903px;
	border: 5px solid #F7ECEC;
	transform: rotate(0.37deg);
}

