*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Titillium Web', sans-serif;
    font-size: 10px; 
}

header{
    margin-inline: 10px;
}
.navbar{
    display: flex;
    align-items: center;
}

.navigation{
    background-color: rgba(0, 0, 0, 0.2);
    padding: 10px;
    width: 65%;
    display: inline-block;
    border-radius: 5px;
    max-height: 80px;
    margin-right: 10px;
}

.nav-list{
    list-style-type: none;
    overflow: hidden;
}

.nav-item{
    float: right;
    display: block;
    text-align: center;
    margin-inline: 20px;
    font-size: 20px;
    padding: 10px;
    color: #fefefe;
}

.nav-item a:hover{
    background-color :rgba(0, 0, 0, 0.2)
}

.close-icon i{
    font-size: 60px;
    float: left;
    cursor: pointer;
}

.hide{
    display: none;
}

.bar-icon{
    font-size: 60px;
    display: inline-block;
    margin-right: 10px;
    color: #fff;
    cursor: pointer;
}

.brand{
    font-family: 'Poppins';
    font-size: 60px;
    display: inline-block;
}

img{
    width: 100%;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #536cc5;
    padding: 0 1.5rem;
}

.post{
    width: 100%;
    max-width: 98rem;
    padding: 5rem;
    background-color: #fff;
    box-shadow: 0 1.4rem 8rem rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    border-radius: .8rem;
}

.post__img{
    min-width: 35rem;
    max-width: 35rem;
    height: 30rem;
    transform: translateX(-8rem);
    position: relative;
}

.post__img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: .8rem;
}

.post__img::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #536cc5 100%),  #fff;
    box-shadow: .5rem .5rem 3rem 1px rgba(0,0,0,.05);
    border-radius: .8rem;
}

.post__date span{
    display: block;
    color: rgba(0, 0, 0, .5);
    font-size: 1.6rem;
    font-weight: 600;
    margin: .5rem 0;
}

.post__title{
    font-size: 2.5rem;
    margin: 1.5rem 0 2rem;
    text-transform: uppercase;
    color: #4facfe;
}

.post__text{
    margin-bottom: 3rem;
    font-size: 1.4rem;
    color: rgba(0, 0, 0, .7);
}

.post__cta{
    display: inline-block;
    padding: 1.5rem 3rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 1.2rem;
    color: rgb(255, 255, 255);
    background-color: #536cc5;
    border-radius: .8rem;
    text-decoration: none;
}

.post__cta:hover{
    background-color: #fff;
}



